.container {
  text-align: left;
  width: 40%;
  margin: auto;
  padding: 2rem 0rem 2rem 0rem;
  position: relative;

  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

.search-icon {
  position: absolute;
  transform: translateY(1rem);
  margin-left: 1rem;
  height: 1rem;
}

.search-bar {
  width: 100%;
  padding: 1rem 0rem 1rem 0rem;
  background: #1e1e1ea6;
  border: 0px;
  box-shadow: none;
  border-radius: 24px;
  outline: none;
  caret-color: white;
  color: white;
  text-indent: 3rem;
}

.search-bar.autocomplete {
  border-radius: 24px 24px 0px 0px;
}

.search-bar::placeholder {
  color: #ffffff9c;
}

.autocomplete-container {
  background-color: #212121;
  width: 100%;
  border-radius: 0px 0px 24px 24px;
  border-top: 1px solid #313131;
  position: absolute;
}

.autocomplete-ul {
  padding-inline-start: 0;
  margin: 0;
}

.autocomplete-ul > li {
  list-style-type: none;
  margin: 0;
  padding: 0.5rem 2rem 0.5rem 2rem;
  cursor: context-menu;
}

.autocomplete-ul > li:hover {
  background-color: #2b2b2b;
}

.autocomplete-ul > li:hover:last-child {
  border-radius: 0px 0px 24px 24px;
}
