.search-container {
  width: 100%;
}

table {
  width: 100%;
}

tr {
  background-color: #3e434e;
}

table tr:nth-child(odd) {
  background-color: #252526;
}
table tr:nth-child(even) {
  background-color: #1e1e1e;
}

th {
  width: 50%;
  padding: 0.5rem;
}

.error-message {
  padding: 2rem;
}
