.header {
  background-color: #2d2d2d;
  color: white;
  border: 0px solid;
  padding: 0.75rem 1rem 0.75rem 2rem;
  outline: none;
  cursor: pointer;
}

.header.active {
  background-color: #1e1e1e;
}

.close-button {
  background-color: transparent;
  border: 0px;
  color: white;
  outline: none;
  margin-left: 1rem;
}
